<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=chrome">
        <meta charset="utf-8">
        <header name="{{token}}"></header>
        <title>EMS</title>
        {{!-- <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> --}}
        <link rel="shortcut icon" href="../CSS/hehe.png">
        <link rel="stylesheet" href="../CSS/homepage.css">
    </head>
    <body>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>

        <div class="container-md">  
            <div class = "header">
                <nav>
                    <h2 class="logo">Employee Management System</h2>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>   
                        </ul>

                        {{!-- <a href="/interface"> Go to My Interface</a> --}}
                        <button onclick="interfaceGOTO()" style="cursor: pointer;">Go to My Interface</button>

                        {{!-- <button> <a href="/{{adm.user}}Interface"> Go to My Interface </a> </button> --}}

                </nav>
            </div>
        </div>

        <script>
            function interfaceGOTO() {
                fetch("/interface", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(res => res.json())
                .then(data => {
                    if(data.success) {
                        console.log(data.user)
                        if(data.user == "Admin"){
                             window.location.href = "AdminInterface"
                        }
                        else if(data.user == "Employee"){
                             window.location.href = "EmployeeInterface"
                        }
                        else{
                            window.location.href = "ClientInterface"
                        }
                    }
                    else alert("Failed to go in your Interface")
                })
                .catch(err => {
                    console.error(err);
                    alert("Failed to go in your Interface")
                });
            }
        </script>

    </body>
</html>
